@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  background-image: url("bg.jpg");
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background-color: #222222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
}

input[type="text"],
input[type="date"],
input[type="time"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #444444;
  border-radius: 5px;
  background-color: #333333;
  color: #ffffff;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
  outline: none;
  border-color: #555555;
}

button {
  background-color: #41546a;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease; /* Apply transition on background property */
}

button:hover {
  background-color: #6582a2;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #555555;
  text-align: center;
  color: #ffffff;
}

th {
  border-radius: 2px;
}

#notificationSound {
  display: none;
}
